name: Test
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
env:
    DOTNET_VERSION: '8.0'
    BUILD_CONFIGURATION: 'Release'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}.x

    - name: Cache NuGet Packages
      id: nuget-packages
      uses: actions/cache@v3
      env:
        cache-name: nuget-package-cache
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-${{ env.cache-name }}

    - run: dotnet build --configuration ${{ env.BUILD_CONFIGURATION }}
      working-directory: ./src

    - name: Cache Playwright Browser Binaries
      id: playwright-browser-binaries
      uses: actions/cache@v3
      env:
        cache-name: playwright-browser-binaries
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-${{ env.cache-name }}

    - name: Ensure browsers are installed
      run: pwsh ./src/DummyApp.UiTests/bin/${{ env.BUILD_CONFIGURATION }}/net${{ env.DOTNET_VERSION }}/playwright.ps1 install --with-deps

    - name: Run your tests
      working-directory: ./src
      run: dotnet test --configuration ${{ env.BUILD_CONFIGURATION }} --no-restore --verbosity normal --collect:"XPlat Code Coverage" --results-directory "../TestResults"

    - name: Upload coverage reports to Codecov
      if: ${{ github.event_name == 'push' }}
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}